<h1 style="text-align: center;font-size: 40px;padding-top: 10px;font-family: italic;">Who We Are</h1>
<img src="https://www.ajio.com/medias/sys_master/images/images/h5e/hfc/11339012800542/who-we-are-desktop.jpg" style="display: block;
margin-left: auto;
margin-right: auto;">
<div style="margin-left: 300px;display: block;margin-right: 300px;font-size: 20px;margin-top: 20px;color:white;background-color:rgb(3, 62, 125);">
  <p style="padding-top: 10px;padding: 20px;font-family: italic;">
With the trendiest, freshest, and most unique styles from across India and the world, AJIO invites you to express your personal style fearlessly, and with a confidence and optimism that cannot be easily shaken.
</p></div>
<h1 style="font-family: italic;font-size: 33px;text-align: center;padding-top: 10px;">AJIO OWN</h1>
<p style="font-family: italic;font-size: 19px;text-align: center;padding: 300px;padding-top: 2px;padding-bottom: 5px;">AJIO OWN is our private label – that’s designed by us, and owned by you. If you’re looking for head-turning styles that are one-of-a-kind, AJIO OWN is what you should stock up on.</p>
<div style="margin-left: 300px;display: block;margin-right: 300px;font-size: 20px;margin-top: 20px;color:white;background-color:rgb(3, 62, 125);">
  <p style="padding-top: 10px;padding: 20px;font-family: italic;">Why let a world that loves to police your wardrobe and your expression get the upper hand, anyway?

    So the next time someone says ‘Oh, that dress is too bold’ ‘Are you sure you’re the right size for this?’ ‘Maybe you should pick a colour that suits you’ or ‘Act your age and wear something else’, go ahead and do exactly what you please. When it comes to great style and personal expression, there should never be any regrets.</p></div>
    