<div class="wrapper">
  <h2 style="font-size: 35px;">Login</h2>
  <form (ngSubmit)="onSubmit()">
    <div class="div1">
      <label>Username:</label>
      <input type="text" [(ngModel)]="username" name="username" required>
    </div>
    <div class="div1">
      <label>Password:</label>
      <input type="password" [(ngModel)]="password" name="password" required>
    </div>
    <div class="div1">
      <button type="submit">Login</button>
    </div>
  </form>
  <p *ngIf="loginError" class="error-message">Invalid username or password.</p>
  <p>Don't have an account? <a routerLink="/signup">Sign up</a></p>
</div>
