<div class="wrapper">
<h1 style="text-align: center;font-size: 40px;padding-top: 10px;font-family: italic;">Need Help?</h1>
<div style="margin: auto;display: block;font-size: 20px;margin-top: 20px;max-width: 70%;">
    <p style="padding-top: 10px;padding: 20px;font-family: italic;">
        Need help with your order? Just visit the “Customer Care” section on the website or on the AJIO App. You could also visit the “My Account” section to track and manage your order.
        Did You Know that most of your queries can be answered with the convenience of not having to reach out to us ?
        Visit our FAQs Page.</p></div>
        <h1 style="text-align: center;font-size: 25px;padding-top: 25px;font-family: italic;"><b>Call Us</b></h1>
        <p style="padding: 20px;font-family: italic;padding-top: 2px;padding-bottom:1px ;text-align: center;font-size: 20px;">1800-889-9991</p>
        <p style="text-align: center;font-size: 20px;font-family: italic;">Lines open from 6am till midnight,
            7days a week.</p>
        </div>
            
           
           
           
            
            
            
           