<mat-tab-group>
    <mat-tab label="Audi"><img src="https://th.bing.com/th/id/OIP.AKMnLvsxFZDYrXwb30rGVQHaEK?pid=ImgDet&rs=1" height="350px" width="600px"> </mat-tab>
    <mat-tab label="Maserati"><img src="https://th.bing.com/th/id/R.cbbc3d51580fa9c302a34b327383a12f?rik=ZXxTvOO%2fkhhTJw&riu=http%3a%2f%2f2.bp.blogspot.com%2f-2tfhdl2ABTw%2fUNM3AF6fEGI%2fAAAAAAAAGF4%2fRQ8qhSanZf4%2fs1600%2f2013%2bMaserati%2bGranCabrio%2bSport%2b1.jpg&ehk=iBRmUFsxLVOy%2bpInAP2TqnMFC7thjfqA3HmlugaBDzI%3d&risl=&pid=ImgRaw&r=0" height="350px" width="600px"> </mat-tab>
    <mat-tab label="Ferrari"><img src="https://wallpapercave.com/wp/NGzwTao.jpg" height="350px" width="600px"> </mat-tab>
  </mat-tab-group>
  