<angular-image-slider 
  [autoRotate]="true"
  [autoRotateAfter]="5000"
  [autoRotateRight]="true"
  [images]="imagesUrl"
></angular-image-slider>

<a href="products">
<img src="https://assets.ajio.com/cms/AJIO/WEB/06032023-UHP-D-UHPwomen-p5-frenchconnection-lcwaikiki-flat55.jpg" style="display: block;margin-left: auto;margin-right: auto;">
</a>

<a href="products">
<img src="https://assets.ajio.com/cms/AJIO/WEB/06032023-UHP-D-UHPwomen-p1-skechers-nike-min30.jpg" style="display: block;margin-left: auto;margin-right: auto;">
</a>

<a href="products">
<img src="https://assets.ajio.com/cms/AJIO/WEB/06032023-UHP-D-UHPwomen-p3-labelritukumar-coverstory-min30-extra35.jpg" style="display: block;margin-left: auto;margin-right: auto;">
</a>