@import url(https://fonts.googleapis.com/css?family=Roboto:300);
.wrapper {
  min-height: 100vh;
  padding-top: 120px;
  text-align: center;
}
.center{
  padding-top: 40px;
  text-align: center;
  margin: auto;
  height: auto; 
  display: block;
  font-size: 32px;
}