<div id="carouselExampleFade" class="carousel slide carousel-fade">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="https://assets.ajio.com/cms/AJIO/WEB/14032023-UHP-D-Cross-P3-Womenswear-USPA-Min50.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://assets.ajio.com/cms/AJIO/WEB/14032023-UHP-D-Top-P6-Casuals-DennislingoGulmoharJiapur-Min60.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://assets.ajio.com/cms/AJIO/WEB/14032023-UHP-D-Main-P5-Ethnicwear-BibaAurelia-Flat65.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://assets.ajio.com/cms/AJIO/WEB/Top%20Banner_1440x470wwww.gif" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://assets.ajio.com/cms/AJIO/WEB/14032023-UHP-D-Top-P3-SmartFits-gantMnS-Min40Extra35.jpg" class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>